<?xml version="1.0" encoding="UTF-8"?>
<office-starter_options
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:noNamespaceSchemaLocation="/home/stefan/prog/bakki/Bakki-the-stick/config.xsd">

	<general>
		<version date="2024-08-03">1.0</version>
		<verstxt> mit config.xml-Datei!</verstxt>
		<title>Office Vorlagen Starter</title>
		<text>Vorlage auswählen :(v$version;$verstxt)</text>
		<config>Einstellungen</config>
		<confProg>gedit</confProg>
		<wordprog>soffice --nologo</wordprog>
		<calcprog>???</calcprog>
	</general>
	<directories>
<!-- kein ~ hier -->
		<homeVerz>/home/stefan</homeVerz>
		<stickort>/media/stefan</stickort>
		<StdVerz>/slaekim</StdVerz>
		<RemoteOrt>/mnt/iserv_laettig/Files</RemoteOrt>
		<stdpath>/home/stefan/slae_kim/etc/vorlagen</stdpath> 
	</directories>

	<vorlagen>
		<eintrag>
		<id>00</id>
		<name>writer_(leer)</name>
		<prog>$wordprog</prog>
		<dir></dir>
		<vorl></vorl>
		</eintrag>
		<eintrag>
		<id>01</id>
		<name>slae__Brief</name>
		<prog>$wordprog</prog>
		<dir>$stdpath</dir>
		<vorl>/LaeHomeBrief.ott</vorl>
		</eintrag>
		
		<eintrag>
		<id>02</id>
		<name>AB>>Physik_(Stand.)</name>
<!-- keine Lücken im Namen -->
		<prog>$wordprog</prog>
		<dir>$stdpath/abf</dir>
		<vorl>/ab_physik_K202008.ott</vorl> 
		</eintrag>
		
		<eintrag>
		<id>03</id>
		<name>AB>>Mathe_(leer)</name>
		<prog>$wordprog</prog>
		<dir>$stdpath/abf</dir>
		<vorl>/ab_matheL202010.ott</vorl> 
		</eintrag>
		
		<eintrag>
		<id>32</id>
		<name>AB>>Mathe_(Karos)</name>
		<prog>$wordprog</prog>
		<dir>$stdpath/abf</dir>
		<vorl>/ab_mathe201903.ott</vorl> 
		</eintrag>
		<eintrag>
		<id>33</id>
		<name>AB>>Mathe_(Klettco)</name>
		<prog>$wordprog</prog>
		<dir>$stdpath/abf</dir>
		<vorl>/ue_mathe201903.ott</vorl> 
		</eintrag>
		
		
	</vorlagen>

</office-starter_options>
<!-- Ende des XML-Dokumentes -->
