<?xml version="1.0" encoding="UTF-8"?>
<office-starter_options
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:noNamespaceSchemaLocation="/home/stefan/prog/bakki/Bakki-the-stick/config.xsd">

<!--
placeholder_space="#x0020"
-->

	<general>
		<version date="2024-08-06">1.0beta</version>
		<verstxt> AI-improved</verstxt>
		<lang>de</lang>
		<title>Office Vorlagen Starter</title>
		<menue>Vorlage auswählen (v$version;$verstxt):</menue>
		<config>Einstellungen</config>
		<confProg></confProg>
		<officeprog>soffice#x0020--nologo</officeprog>
	</general>
	<directories>
<!-- kein ~ hier -->
		<homeVerz>/home/stefan</homeVerz>
		<stickort>/media/stefan</stickort>
		<stdpath>/home/stefan/slae_kim/etc/vorlagen</stdpath> 
	</directories>

	<vorlagen>
<!--
		keine Lücken in name
		immer #x0020 für nix/leer 
-->
		<eintrag>
		<id>00</id>
		<name>writer#x0020(leer)</name>
		<prog>$officeprog#x0020--writer</prog>
		<param>#x0020</param>
		<template_path>#x0020</template_path>
		<template_file>#x0020</template_file>
		</eintrag>


		<eintrag>
		<id>01</id>
		<name>slae#x0020Brief</name>
		<prog>$officeprog</prog>
		<param>n</param>
		<template_path>$stdpath</template_path>
		<template_file>/LaeHomeBrief.ott</template_file>
		</eintrag>
		
		<eintrag>
		<id>02</id>
		<name>AB>>Physik#x0020(Stand.)</name>
		<prog>$officeprog</prog>
		<param>n</param>
		<template_path>$stdpath/abf</template_path>
		<template_file>/ab_physik_K202008.ott</template_file> 
		</eintrag>
		
		<eintrag>
		<id>03</id>
		<name>AB>>Mathe#x0020(leer)</name>
		<prog>$officeprog</prog>
		<param>n</param>
		<template_path>$stdpath/abf</template_path>
		<template_file>/ab_matheL202010.ott</template_file> 
		</eintrag>
		
		<eintrag>
		<id>22</id>
		<name>AB>>Physik#x0020(Stdquer?)</name>
		<prog>$officeprog</prog>
		<param>n</param>
		<template_path>$stdpath/abf</template_path>
		<template_file>/ab_physik_K202008.ott</template_file> 
		</eintrag>
		<eintrag>
		<id>23</id>
		<name>AB>>Physik#x0020(Paetec)</name>
		<prog>$officeprog</prog>
		<param>n</param>
		<template_path>$stdpath/abf</template_path>
		<template_file>/ab_physik_paetec201904.ott</template_file> 
		</eintrag>
		<eintrag>
		<id>24</id>
		<name>AB>>Physik#x0020(QUER#x00202Sp)</name>
		<prog>$officeprog</prog>
		<param>n</param>
		<template_path>$stdpath/abf</template_path>
		<template_file>/ab_physik_2Q202002.ott</template_file> 
		</eintrag>
		<eintrag>
		<id>25</id>
		<name>AB>>Physik#x0020(QUER#x00203Sp)</name>
		<prog>$officeprog</prog>
		<param>n</param>
		<template_path>$stdpath/abf</template_path>
		<template_file>/ab_physik_3Q202103.ott</template_file> 
		</eintrag>

		
		<eintrag>
		<id>32</id>
		<name>AB>>Mathe#x0020(Karos)</name>
		<prog>$officeprog</prog>
		<param>n</param>
		<template_path>$stdpath/abf</template_path>
		<template_file>/ab_mathe201903.ott</template_file> 
		</eintrag>
		<eintrag>
		<id>33</id>
		<name>AB>>Mathe#x0020(Klettco)</name>
		<prog>$officeprog</prog>
		<param>n</param>
		<template_path>$stdpath/abf</template_path>
		<template_file>/ue_mathe201903.ott</template_file> 
		</eintrag>
		
		<eintrag>
		<id>61</id>
		<name>LK#x0020Physik#x0020klass</name>
		<prog>$officeprog</prog>
		<param>n</param>
		<template_path>$stdpath/abf</template_path>
		<template_file>/lk_physik_OSpr_2311.ott</template_file> 
		</eintrag>
		<eintrag>
		<id>62</id>
		<name>LK#x0020Physik#x0020mitSprBwtg</name>
		<prog>$officeprog</prog>
		<param>n</param>
		<template_path>$stdpath/abf</template_path>
		<template_file>/lk_physik_Spr_2311.ott</template_file> 
		</eintrag>
		<eintrag>
		<id>63</id>
		<name>LK#x0020Mathe</name>
		<prog>$officeprog</prog>
		<param>n</param>
		<template_path>$stdpath/abf</template_path>
		<template_file>/lk_ma_202303.ott</template_file> 
		</eintrag>
		<eintrag>
		<id>08</id>
		<name>Abi#x0020mdl</name>
		<prog>$officeprog</prog>
		<param>n</param>
		<template_path>$stdpath/abf</template_path>
		<template_file>/prf_abi_202206.ott</template_file> 
		</eintrag>
		<eintrag>
		<id>10</id>
		<name>calc#x0020(leer)</name>
		<prog>$officeprog#x0020--calc</prog>
		<param>#x0020</param>
		<template_path>#x0020</template_path>
		<template_file>#x0020</template_file>
		</eintrag>
		<eintrag>
		<id>90</id>
		<name>office#x0020(pur)</name>
		<prog>$officeprog</prog>
		<param>#x0020</param>
		<template_path>#x0020</template_path>
		<template_file>#x0020</template_file>
		</eintrag>
		<eintrag>
		<id>99</id>
		<name>Alle#x0020Vorlagen</name>
		<prog>caja#x0020$stdpath</prog>
		<param>#x0020</param>
		<template_path>#x0020</template_path>
		<template_file>#x0020</template_file>
		</eintrag>
	</vorlagen>

</office-starter_options>
<!-- Ende des XML-Dokumentes -->

